/* PC */
@media screen and (min-width: 992px) {
    .moblie-header,
    .toggle-menu {
        display: none;
    }

    .show-on-moblie {
        display: none;
    }
}

/* Tablet and Moblie */
@media screen and (max-width: 991px) {
    .navbar {
        position: relative;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar ul {
        display: none;
    }

    .navbar .toggle-menu svg {
        width: 24px;
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: all .5s;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0 ;
        background-color: #fff;
        z-index: 2;
        padding: 60px;
        transform: translateX(-100%);
        transition: all .5s;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: inline-block;
        padding: 14px 0;
        color: #333;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .hero-img {
        display: none;
    }

    .hero .info {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .hero .desc {
        width: 80%;
        margin: 30px auto auto;
    }

    .clients .images {
        flex-wrap: wrap;
        justify-content: center;
    }

    .guides .guide-item {
        margin: 0;
        flex: 1;
    }

    .featured .list-feature {
        grid-template-columns: repeat(2, 1fr);
    }

    .subscription .image {
        display: none;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-moblie {
        display: none;
    }
    .footer .row-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Moblie */
@media screen and (max-width: 767px) {
    .hide-on-mobile {
        display: none;
    }

    .menu-drawer {
        inset: 0 25% 0 0 ;
        padding: 40px;
    }

    .navbar .actions {
        display: none;
    }

    .hero {
        padding-top: 50px;
    }

    .hero .title {
        margin-top: 20px;
        font-size: 5.2rem;
        line-height: 60px;
    }

    .hero .desc {
        width: 100%;
    }

    .list-guides {
        flex-direction: column;
        row-gap: 60px;
    }

    .guide-cta .btn {
        margin-top: 30px;
    }

    .featured .link {
        display: none;
    }

    .featured .list-feature {
        grid-template-columns: 1fr;
    }

    .featured .view-all {
        margin: 30px auto 0;
    }
    
    .stats .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .stats .info {
        padding: 79px 0;
    }

    .stats .img-block, .stats .img-block .image {
        width: 100%;
    }

    .stats .row-quantity {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    .subscription .info {
        padding: 0 45px;
    }

    .footer .row-top {
        flex-direction: column;
        row-gap: 60px;
    }

    .footer .list, 
    .footer .desc, 
    .footer .social, 
    .footer .row-bottom {
        margin-top: 20px;
    }

    .footer .row-bottom {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }
}